*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header.abajo{
  position: fixed;
  width: 100%;
  z-index: 2000;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: black;
}

header nav .menu-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

header nav .menu-logo img{
  width: 150px;
}

header nav .menu-nav a{
    color: white;
    margin: 10px;
    text-decoration: none;
}

header nav .purch a span{
    margin: 10px;
    color: white;
}

.dropdown-menu .dropdown-item{
    color: black;
}

.dropdown-menu{
    width: 200px;
}

.dropdown-menu img{
  width: 100%;
}

.menu-nav .active{
    color: orange;
}



.carousel-inner img{
    height: 700px;
    opacity: 0.6;
}

.adds{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adds img{
    width: 759px;
}

.arrival{
    margin-top: 100px;
    text-align: center;
}

#botonAgregar{
  background-color: black;
  color: white;
}

.card{
  width: 300px;
  margin: auto;
  box-shadow: 0px 1px 5px black;
}

.card img{
  width: 298px;
  height: 300px;
}

.hombres-cont{
  text-align: center;
  margin-top: 50px;
}

.hombres-cont h3,h4{
  font-size: 20px;
  padding: 5px;
}

.mujeres-cont{
  margin-top: 50px;
  text-align: center;
}

.mujeres-cont h3,h4{
  font-size: 20px;
  padding: 5px;
}

#see{
  padding: 50px;
  color: orange;
}

.imagen-fondo{
  margin-top: 100px;
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ropa-hombre-no-tienda-espan-a-1617640228.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 17em;
}

.titulo-imagen{
  padding: 3em;
  color: white;
  text-align: center;
  font-size: 30px;
}

.texto-imagen{
  color: white;
  text-align: center;
  font-size: 20px;
}

.clientes{
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

.opinions-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.opinions-container .opinions img{
  width: 100px;
  border-radius: 100%;
}

.imagen-fondo2{
  background-image: url(https://media.gq.com.mx/photos/6226652aa3cf727998b59723/16:9/w_1280,c_limit/pantalones-para-hombre-en-tendencia-primavera-2022.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 12em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.texto-fondo2{
  font-size: 30px;
  color: white;
}

.boton-fondo2{
  font-size: 15px;
  text-decoration: none;
  color: black;
  background-color: white;
  transition: 1s;
  padding: 10px 25px 10px 25px;
}

.boton-fondo2:hover{
  background-color: orange;
  transition: 1s;
  color: white;
}

.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.blog-container .blog img{
  width: 350px;
  border-radius: 5px;
}

.noticias{
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

.noticias-p{
  text-align: center;
}

footer{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(231, 229, 229);
  text-align: center;
  padding: 100px;
}

footer a{
  display: block;
  text-decoration: none;
  color: black;
}

footer img{
  width: 50px;
}

.sub-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.sub-footer img{
  width: 30px;
  margin-left: 10px;
}


.contact{
  margin-top: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFBEE;
}

.contact__image-wrapper{
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__image{
  width: 100%;
}

.contact__right-side{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding:0 7.3% 0 4.7%;
  width: 50%;
}

.contact__title{
  font-size: 50px;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.contact__form-wrapper, .contact__input-line{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.contact__input-line{
  margin-bottom: 45px;
}

.contact__label{
  font-size: 18px;
  font-weight: 600;
}

.contact__input{
  height: 30px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent;
}

.contact__input--textarea{
  height: 100px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  resize: none;
  background-color: transparent;
}

.contact__submit-button{
  padding: 18px 55px;
  background-color: #121212;
  border-radius: 50px;
  color: #f2f2f2;
  font-weight: 600;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.contact__submit-button:hover{
  background-color: #2e2e2e;
}

